<div class="chat-window">
  @if (messages$ | async; as messages) {
  <div id="messages">
    @for (message of messages; track $index) { @if (message.userId) {
    <div>{{ message.userId }} : {{ message.messageText }}</div>
    }@else {
    <div>{{ message.messageText }}</div>
    } }
  </div>
  }

  <div id="users"></div>
</div>
<form
  [formGroup]="messageForm"
  class="chat-box"
  id="form"
  (ngSubmit)="sendMessage()"
>
  <input
    id="input"
    name="text"
    placeholder="Message"
    formControlName="message"
  />
  <button type="submit">Submit</button>
</form>
