<div class="navbar bg-gray-700 z-10">
  <div class="flex-1 gap-3">
    <img src="../../../assets/logos/ttt-logo.png" alt="TalkTakeTeach logo/" class="w-16">
    <img src="../../../assets/logos/ttt-words.png" alt="TalkTakeTeach logo/" class="w-32">

  </div>
  <div class="w-fit">
    <ul class="flex justify-between w-full">
      <li class="text-gray-500 mx-2.5 md:mx-6" [routerLinkActive]="'active-path'"><a routerLink="/home">Home</a></li>
      <li class="text-gray-500 mx-2.5 md:mx-6" [routerLinkActive]="'active-path'"><a routerLink="/chat">Chat</a></li>
    </ul>
  </div>
</div>
